{% load static %}

<!doctype html>
<html>
  <head>
    <title>POSTS</title>
    <link rel="stylesheet" href="{% static 'blog-posts.css' %}">
  </head>
  <body>
    <header>
      <div>BLOG POSTS</div>
      <nav>
        <a href="{% url "create_post" %}">Create a post</a>
      </nav>
    </header>
    <main>
        {% for post in posts %}
        <div class="main-page-book-review">
          <h2 class="book-title">
            <a href="{% url "post_detail" post.id %}">{{ post.title }}</a>
          </h2>
          <h3>Content</h3>
          <p>
            {{ post.content }}
          </p>
        </div>
      {% endfor %}
    </main>
    <footer>
      <div>
        Copyright 2022 by me
      </div>
      <p>
        This is my site that contains all of my book reviews
        that you can read to see if you'd like that book.
      </p>
    </footer>
  </body>
</html>